<link rel="stylesheet" href="/css/header.css">
<div class='navbar'>

    <ul class="primary-nav-bar">
        <li><a href="/">HOME</a></li>
        <li><a href="/categories/?type=shirts">STORE</a></li>
        <li><a>ABOUT</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a>CONTACT</a></li>
    </ul>

    <ul class="secondary-nav-bar">
        <% if(locals.user){ %>
            <li><a href="/auth/logout">LOGOUT</a></li>
        <% } else { %>
            <li><a href="/auth/login">LOGIN</a></li>
        <% }%>
        
        <li><a href="/cart"><i class="fas fa-cart-plus"></i></a></li>
        <li><a><i class="fas fa-search"></i></a></li>
        <li id="theme-selector">
            <input type="checkbox" class="checkbox" id="chkbox" />
            <label class="label" for="chkbox">
                <i class="fas fa-moon fa-xs"></i>
                <i class="fas fa-sun fa-xs"></i>
                <div class="ball"></div>
            </label>
        </li>
        
    </ul>

</div>