<link rel="stylesheet" href="/css/header.css">
<nav>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    

    <ul class="primary-nav-bar  nav-links"> 
    
          
        <li class="item1"><a href="/">HOME</a></li>
        <li class="item"><a href="/categories/?type=shirts">STORE</a></li>
        <li class="item"><a href='#about-section'>ABOUT</a></li>
        <li class="item"><a href="/faq">FAQ</a></li>
        <li class="item contact"><a href='#newsletter-container'>CONTACT</a></li>
     <!-- </ul>

    <ul class="secondary-nav-bar  nav-links"> -->
        
        <% if(locals.user){ %>
            <li class="item nav2"><a href="/auth/logout">LOGOUT</a></li>
        <% } else { %>
            <li  class="item"><a href="/auth/login">LOGIN</a></li>
        <% }%>
        
        <li class="item"><a href="/cart"><i class="fas fa-cart-plus"></i></a></li>
        <li class="item"><a href="/wishlist"><i class="fas fa-heart"></i></a></li>
      
        <li id="theme-selector" class="item theme">
            <input type="checkbox" class="checkbox" id="chkbox" />
            <label class="label" for="chkbox">
                <i class="fas fa-moon fa-xs"></i>
                <i class="fas fa-sun fa-xs"></i>
                <div class="ball"></div>
            </label>
        </li>
        

        
        
    </ul>

</nav>

<script> 
   const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.togle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
    </script>