<!-- main css -->
<link rel="stylesheet" href="/css/admin.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

    <div class="main-div">
        <h2 class="admin-heading">Admin Dashboard</h2>


        <form action="/admin/addtodb" method="POST">
            <div class="form">
                <div class="category">
                    <p class="admin-p">Category</p>
                    <input type="radio" name="category" value="shirts" required>Shirts </br>
                    <input type="radio" name="category" value="dresses" required>Dresses</br>
                    <input type="radio" name="category" value="jeans" required>Jeans</br>
                    <input type="radio" name="category" value="shoes" required>Shoes</br>
                    <input type="radio" name="category" value="accesories" required>Accesories</br>
                    <input type="radio" name="category" value="jewellery" required>Jewellery</br>
                    <input type="radio" name="category" value="sweaters" required>Sweaters</br>
                    <input type="radio" name="category" value="hoodies" required>Hoodies</br>
                    <input type="radio" name="category" value="jackets" required>Jackets</br>
                </div>

                <div class="product-detail">
                    <p class="admin-p">Product-Details</p>
                    <input type="text" name="name" placeholder="name" class="input-box" required ></br>
                    <input type="text" name="image" placeholder="image-link" class="input-box" required></br>
                    <input type="text" name="zoomedimage" placeholder="zoomed image-link" class="input-box"></br>
                    <input type="text" name="description" placeholder="description" class="input-box" required></br>
                    <input type="text" name="price" placeholder="price" class="input-box" required></br>
                    <input type="text" name="saleprice" placeholder="saleprice" class="input-box" ></br>
                    <input type="submit" value="submit" class="btn">
                </div>
            </div>
        </form>

    </div>


   

</body>