
  

  <!-- fontawesome link -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <title>cart</title>
  <link rel="stylesheet" href="/css/cart.css">


<body>
  <h2 class="cart-heading">Shopping-cart<i class="fas fa-shopping-cart"></i></h2>

  <div class="container">
    <!-- left side  -->
    <div class="left-container">
      <!-- first product -->
      <div class="product-card">
        <div class="image">
          <img class="cart-img" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
            alt="Sample">

        </div>
        <div class="detail">
          <div class="product-detail">
            <h3>Blue denim shirt</h3>
            <p>Price : 500 </p>
            <p>Discount : 50%</p>
            
            <p class="like-btn"><i class="fas fa-heart"></i> MOVE TO WISH LIST </p>
            
          </div>
        </div>


        <div class="product-quantity">
          <div class="quantity-detail">
            <button  class="minus-btn"> <i class="fas fa-minus"></i> </button>
            <input id="textbox" class="quantity" min="1" name="quantity" value="1" type="text">

            <button class="plus-btn" > <i class="fas fa-plus"></i></button>

          </div>

          <div class="remove">
            <button><i class="fas fa-trash-alt mr-1"></i>
              Remove Item</button>
          </div>

        </div>
      </div>
      
      <div class="product-card">
        <div class="image">
          <img class="cart-img" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
            alt="Sample">

        </div>
        <div class="detail">
          <div class="product-detail">
            <h3>Blue denim shirt</h3>
            <p>Price: 800 </p>
            <p>Discount : 50%</p>
            <p class="like-btn"><i class="fas fa-heart"></i> MOVE TO WISH LIST </p>
            
          </div>
        </div>

        <div class="product-quantity">
          <div class="quantity-detail">
            <button  class="minus-btn"> <i class="fas fa-minus"></i> </button>
            <input id="textbox" class="quantity" min="1" name="quantity" value="1" type="text">

            <button class="plus-btn" > <i class="fas fa-plus"></i></button>

          </div>


          <div class="remove">
            <button><i class="fas fa-trash-alt mr-1"></i>
              Remove Item</button>
          </div>


        </div>
      </div>



    </div>
    <div class="cart-total">

      <p>

        <span>Total Price</span>

        <span>₹ 3,000</span>

      </p>

      <p>

        <span>Number of Items</span>

        <span>2</span>

      </p>

      <p>

        <span>You Save</span>

        <span>₹ 1,000</span>


      </p>
      <a href="/checkout" target="_blank"> <button >Proceed to Checkout</button></a>
     
    </div>


  </div>

  <!-- javascript -->
<script src="/Javascript/cart.js"></script>

</body>

