<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="slider">
            <div class="image">
                <img src="https://github.com/Tajamul-Husen/shopping_cart/blob/master/dist/img/img-bg.jpg?raw=true" class="m1">
            </div>
            <div class="image">
                <img src="https://www.apetogentleman.com/wp-content/uploads/2019/06/best-mens-tshirts.jpg" class="m1">
            </div>
            <div class="image">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/20/79697a42-61bc-4aac-a37a-b130bfd4c4f31624190810275-DK_Shoes.jpg" class="m2">
            </div>
            <div class="image">
                <img src="https://images.unsplash.com/photo-1485125639709-a60c3a500bf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="m2">
            </div>
            
    </div> 


<div class="featured-products-div">
    <div class="featured-text">
        <span>Featured Products</span>
    </div>

    <div class="products">

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/home-tee-1_900x.png?v=1569305860">
              
            </div>

            <div class="product-info">

                <div class="name">

                    HOME TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #111111;">

                </div>
            </div>

        </div>

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/skipper-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    SKIPPER TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color">

                </div>
            </div>
        </div>

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/clubber-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    CLUBBER TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #DDDDDD;">

                </div>
            </div>
        </div>
    </div>


<!-- Script Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- for Slider -->
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


<!-- home.js -->
<script src="javascript/home.js"></script>

    <div class="newsletter-container">
        <form action="">
            <h1>Join our newsletter</h1>
            <p>Subscribe us to update with latest fashion</p>
            <div class="email">
                <i class="fa fa-envelope"></i>
                <input class="email-box" type="email" name="" id="" placeholder="Enter your email">
                <button class="email-btn">Subscribe> </button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    
                    <ul>
                        <li><h3>Browse</h3></li>
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Theme</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    
                    <ul>
                        <li><h3>Help</h3></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order-Status</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    <ul>
                        <li><h3>Online Shop</h3></li>
                        <li><a href="#">Men-fashion</a></li>
                        <li><a href="#">Women-fashion</a></li>
                        <li><a href="#">Children-fashion</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>


                </div>

                <div class="footer-col">
                    <h3>Follow us</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
