<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <div class="slider">
            <div class="image">
                <img src="https://github.com/Tajamul-Husen/shopping_cart/blob/master/dist/img/img-bg.jpg?raw=true" class="m1">
            </div>
            <div class="image">
                <img src="https://www.apetogentleman.com/wp-content/uploads/2019/06/best-mens-tshirts.jpg" class="m1">
            </div>
            <div class="image">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/20/79697a42-61bc-4aac-a37a-b130bfd4c4f31624190810275-DK_Shoes.jpg" class="m2">
            </div>
            <div class="image">
                <img src="https://images.unsplash.com/photo-1485125639709-a60c3a500bf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="m2">
            </div>
            
    </div> 


<div class="featured-products-div">
    <div class="featured-text">
        <span>Featured Products</span>
    </div>

    <div class="products">

        <div class="product">
            
            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/home-tee-1_900x.png?v=1569305860">
              
            </div>

            <div class="product-info">

                <div class="name">

                    HOME TEE

            </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #111111;">

                </div>
            </div>

        </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/skipper-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                SKIPPER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color">

            </div>
        </div>
    </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/clubber-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                CLUBBER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color" style="background-color: #DDDDDD;">

            </div>
        </div>
    </div>
</div>


<!-- Script Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- for Slider -->
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


<!-- home.js -->
<script src="javascript/home.js"></script>

