<link rel="stylesheet" href="/css/home.css">


<div class="header-section">

</div>


<div class="featured-products-div">
    <div class="featured-text">
        <span>Featured Products</span>
    </div>

    <div class="products">

        <div class="product">
            
            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/home-tee-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    HOME TEE

            </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #111111;">

                </div>
            </div>
        </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/skipper-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                SKIPPER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color">

            </div>
        </div>
    </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/clubber-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                CLUBBER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color" style="background-color: #DDDDDD;">

            </div>
        </div>
    </div>
</div>