<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="header-section">

</div>


<div class="featured-products-div">
    <div class="featured-text">
        <span>Featured Products</span>
    </div>

    <div class="products">

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/home-tee-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    HOME TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #111111;">

                </div>
            </div>
        </div>

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/skipper-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    SKIPPER TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color">

                </div>
            </div>
        </div>

        <div class="product">

            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/clubber-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    CLUBBER TEE

                </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #DDDDDD;">

                </div>
            </div>
        </div>
    </div>

    <div class="newsletter-container">
        <form action="">
            <h1>Join our newsletter</h1>
            <p>Subscribe us to update with latest fashion</p>
            <div class="email">
                <i class="fa fa-envelope"></i>
                <input class="email-box" type="email" name="" id="" placeholder="Enter your email">
                <button class="email-btn">Subscribe> </button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    
                    <ul>
                        <li><h3>Browse</h3></li>
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Theme</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    
                    <ul>
                        <li><h3>Help</h3></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order-Status</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    <ul>
                        <li><h3>Online Shop</h3></li>
                        <li><a href="#">Men-fashion</a></li>
                        <li><a href="#">Women-fashion</a></li>
                        <li><a href="#">Children-fashion</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>


                </div>

                <div class="footer-col">
                    <h3>Follow us</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>