<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

<div class="header-section">

    <div class="slider">
        <!-- <div class="images"> -->
             <!-- <input type="radio" name="slide" id="img1" checked>
            <input type="radio" name="slide" id="img2">
            <input type="radio" name="slide" id="img3">
            <input type="radio" name="slide" id="img4"> -->

            <div class="image">
                <img src="https://www.apetogentleman.com/wp-content/uploads/2019/06/best-mens-tshirts.jpg" class="m1">
            </div>
            <div class="image">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/20/79697a42-61bc-4aac-a37a-b130bfd4c4f31624190810275-DK_Shoes.jpg" class="m2">
            </div>
            
            
            <!-- <img src="https://www.apetogentleman.com/wp-content/uploads/2019/06/best-mens-tshirts.jpg" class="m3">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/20/79697a42-61bc-4aac-a37a-b130bfd4c4f31624190810275-DK_Shoes.jpg" class="m4"> -->
            

        <!-- </div>
        <div class="dots">
            <label for="img1"></label>
            <label for="img1"></label>
            <label for="img1"></label>
            <label for="img1"></label>
        </div> -->
    </div> 
</div>


<div class="featured-products-div">
    <div class="featured-text">
        <span>Featured Products</span>
    </div>

    <div class="products">

        <div class="product">
            
            <div class="image">

                <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/home-tee-1_900x.png?v=1569305860">

            </div>

            <div class="product-info">

                <div class="name">

                    HOME TEE

            </div>

                <div class="price">

                    $36.00

                </div>

                <div class="color" style="background-color: #111111;">

                </div>
            </div>
        </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/skipper-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                SKIPPER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color">

            </div>
        </div>
    </div>

    <div class="product">
            
        <div class="image">

            <img src="https://cdn.shopify.com/s/files/1/2090/4191/products/clubber-1_900x.png?v=1569305860">

        </div>

        <div class="product-info">

            <div class="name">

                CLUBBER TEE

            </div>

            <div class="price">

                $36.00

            </div>

            <div class="color" style="background-color: #DDDDDD;">

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- for Slider -->
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
</script>

