@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.navbar{
    position:fixed !important;
}
.slider{
    width:100%;
    border:none;

    .image{
            border:none;
            width:100%;
            img{
                width:100%;
                height: 85vh;
                object-fit: contain;
                }

    }
            
.featured-products-div {
    height: 900px;
    margin-top: 60px;
  
    .featured-text {
        padding: 40px;
        text-align: center;

        span {
            font-style: normal;
            font-size: 25px;
            position:relative;
            color:black;
            font-weight: 500;
            text-transform:uppercase;
            letter-spacing: 4px;
            transition: 1s ease-in-out;
            cursor: pointer;
        }

        span:hover::after{
            content:"";
            width:50%;
            height:2px;
            position: absolute;
            background-color: var(--primary-color);
            bottom:-5px;
            left:0px;
            right: 0px;
            margin:auto;
        }
    }
    .products {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin : 0px 60px;

        .product {
            .image {
                height: 400px;
                width: 400px;
                background-color: #f5f5f5;

                img {
                    height: 100%;
                }
            }
            .image:hover::after{
                content:"Add Item to Cart";
                position:absolute;
                height:40px;
                width:100%;
                background-color: #212121;
                color:white;
                bottom:0px;
                left:0px;
                text-align: center;
                font-size:20px;
                cursor: pointer;
                vertical-align: auto;
                margin-top:20px;

            }


            .product-info {
                text-align: center;
                color: #212121;
                font-family: sans-serif;
                font-style: normal;
                font-weight: 100;
                margin: 30px;

                .name {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 2px;
                }

                .price {
                    padding: 10px;
                    font-size: 14px;
                }

                .color {
                    display: inline-block;
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: #1b8185;
                    transition: 0.5s;
                }

                .color:hover {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}

// ------NewsLetter---------
.newsletter-container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: #fff8d9;
    text-align: center;
    line-height: 2rem;
    padding: 40px;
    .p {
        font-size: larger;
        font-weight: 300;
    }
    .email {
        color: cornsilk;
        height: 40px;
        display: flex;
        justify-content: center;

        i {
            background-color: black;
            // width: 40vw;
            padding: 12px;

            // line-height: 40px;
        }

        .email-box {
            border: none;
            outline: none;
            width: 60vh;
            padding: 12px;
        }

        .email-btn {
            color: cornsilk;
            background-color: black;
            padding: 0 10px;
            text-transform: uppercase;
            border: none;
            outline: none;
        }
    }
}

// --------------------Footer----------------------------

.footer {
    background-color: black;
    color: white;
   
    line-height: 2;
    padding: 20px 0;

    .footer-container {
        max-width: 1200px;
        margin: auto;
        .footer-row {
            display: flex;
            flex-wrap: wrap;
            
        }

        li {
            list-style: none;
            text-align: justify;
           
        }
        a {
            text-decoration: none;
            color: white;
        }
        .footer-col {
            width: 15vw;
            padding: 0 5px;
            h3 {
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 25px;
                font-weight: 500;
                position: relative;
            }
            
                a {
                    color: #bbbbbb;
                    font-size: 16px;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-weight: 300;
                    display: block;
                    transition: all 0.3s ease;
                }
                a:hover {
                    color: #ffffff;
                    padding-left: 8px;
                }
            

            .social-icons a {
               
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #ffffff;
              
                
            }
        }

        @media (max-width: 767px) {
            .footer-col {
                width: 50%;
                margin-bottom: 30px;
            }
        }
        @media (max-width: 574px) {
            .footer-col {
                width: 100%;
            }
        }
    }
}
