
body{
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
  /* justify-content: space-around;
  align-items: center; */
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10000;
  background-color: var(--bg-color) !important; }


  .nav-links {
    list-style-type: none;
    display:flex;
    
    /* width:88vw; */
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; 
    text-transform: uppercase;
  }
  
    .nav-links  li a {
        text-decoration: none;
        color: var(--font-color);
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        
      }

        .nav-links  li a:hover {
        color: var(--primary-color) !important; }



     
         /*----------------theme selector------------------*/
        #theme-selector{
          margin-left: 30px;

        }

        .checkbox {
          opacity: 0;
          position: absolute;
        }
        
        .label {
          padding: 5px;
          position: relative;
          height: 18px;
          width: 40px;
          background-color: #111;
          border: .5px solid white;
          border-radius: 50px;

          /* flex property */
          display: flex;
          align-items: center;
          justify-content: space-between;

          /* animation */
          transform: scale(1.5);
        }
        
        .label .ball {
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          left: 2px;
          height: 15px;
          width: 17px;
          transition: transform 0.2s linear;
        }
        
        .checkbox:checked + .label .ball {
          transform: translateX(20px);
        }
        
        
        .fa-moon {
          color: #f1c40f;
        }
        
        .fa-sun {
          color: #f39c12;
        }

  /* ------------------------------------------------------ */
/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background:var(--font-color);
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}



      /* ----------------------------- */

     
     

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        /* position: fixed; */
        background:var(--bg-color);
       
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%); 
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

}
       
/* additional styling for large screen  */
@media screen and (min-width: 800px){
  .nav-links  li {
    padding: 20px;
    
    

    cursor: pointer; 
  }
  .theme{
    /* margin-right:50px; */
  }

  .item1{
    margin-left: 50px;

  }

  .contact{
    margin-right:800px;
  }


}

@media screen and (max-width: 1600px){
  .contact{
    margin-right : 600px;
  }
}
@media screen and (max-width: 1400px){
    .contact{
      margin-right : 400px;
    }
}
 @media screen and (max-width: 1196px){
      .contact{
        margin-right : 300px;
      }
    }
@media screen and (max-width: 1089px){
        .contact{
          margin-right : 100px;
        }
      } 
@media screen and (max-width: 893px){
        .contact{
          margin-right : 50px;
        }
}