*{
    margin:0;
    box-sizing: border-box;
}

.cart-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    margin: 20px;

}

@media screen and (max-width:800px){
    .cart-heading{
        margin-top:100px;
    }
}

.container{
    display: flex;
    /* background-color: chartreuse; */
    width:100%;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
}
.left-container{
    flex: 0.70;
    background-color: white;
    padding:10px;
}

.product-card{
    padding:20px;
    margin:2px;
  
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid silver;
    
    

}

.product-card:hover{

	border: none;

	box-shadow: 2px 2px 4px rgba(255, 5, 5, 0.2);

	transform: scale(1.01);

}

.blue{
    color:blue;
}

.like-btn-link{
    text-decoration: none;
    color:black;
}
.cart-img{
    width: 200px;
    background: rgb(238, 195, 195);
	border-radius: 50%;
	object-fit: cover;
}

.cart-img:hover{

	transform: scale(1.04);

}

.product-detail{
    line-height: 1.5;

}


.cart-total{
    /* width:30%; */

    flex: 0.25;
background-color: cornsilk;
	margin: 20px;
    

	padding: 20px;

	height: auto;

	border: 1px solid silver;

	border-radius: 5px;
    


}
.cart-total p{

	display: flex;

	justify-content: space-between;

	margin-bottom: 30px;

	font-size: 20px;

}

.cart-total button{
    margin:5px;
    padding: 15px;
    width:90%;
}

.remove{
    margin:30px;
    
}
.remove button{
    padding:10px;
    border-radius: 5px;
}
.remove button:hover{
    background-color: black;
    color: cornsilk;
    
    
}



.quantity-detail{
    /* width:60px; */
    background-color: black;
    color:white;
    text-align: center;
    padding: 3px;
    border-radius: 5px;


}

.empty-cart-image{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 400px;
    background:#fff;
    border-radius: 10px;
   
   

}



@media screen and (max-width: 992px){
    .detail{
        display: none;
    }
}




@media screen and (max-width: 800px){
    .cart-heading{
       margin-top: 100px;
    }
}



  